.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header-logo {
    position: relative;
    font-weight: 400;
    font-size: 64px;
    color: #fff;
}
.header-time {
    font-weight: 600;
    font-size: 19px;
    color: #fff;
    width: 380px;
    text-align: end;
    margin-top: -50px;
    margin-right: -20px;
}
h5 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

button {
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


.navigation-header button{
    font-weight: 700;
    font-size: 30px;
    color: #fff;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
    transition: text-shadow 0.4s ease;
}

.navigation-header button:hover {
    text-shadow: 1px 1px 10px #862f9c;
} 

.navigation-header button:last-child {
    margin-left: 100px;
}

.logo-place {
    display: flex;
    align-items:center;
    justify-content: center;
}
.logo-place img {
    margin-left: 15px;
    width: 75px;
    margin-top: 45px;
}

